:javascript
  CKEDITOR_BASEPATH = "#{request.env['RAILS_RELATIVE_URL_ROOT']}/assets/ckeditor/";

= javascript_include_tag "ckeditor/init"

:javascript
  CKEDITOR.editorConfig = function ( config ) {
    config.toolbar =
      [
        { name: 'clipboard', items : [ 'Cut','Copy','Paste','PasteText','PasteFromWord','-','Undo','Redo' ] },
        { name: 'styles', items : [ 'Styles', 'Format' ] },
        { name: 'basicstyles', items : [ 'Bold', 'Italic', 'Strike', '-', 'RemoveFormat' ] },
        { name: 'paragraph', items : [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent' ] },
        { name: 'links', items : [ 'Link', 'Unlink' ] }
      ];
  };

.message_external_div

  = render "message_header"
  = simple_form_for :message, url: send_message_messages_path, html: {id: "form_message_text", multipart: true} do |f|
    = render "message_header_to", form: f

    #div_new_message
      = f.input :content, label: false, as: :ckeditor, input_html: {value: @original_message, name: "content"}

    .message_new_action
      = f.submit t(:message_send), id: "send_message", class: "btn btn_main", alt: t(:message_send)
      = hidden_field_tag :id, @original_message_id
      = link_to t(:message_discard), inbox_messages_path, {class: "btn btn_caution"}
