.block_wrapper.list_chat_rooms{:"data-link-list" => chat_rooms_path(allocation_tags_ids: @allocation_tags_ids, all_groups_ids: params[:all_groups_ids])}
  .block_title
    %h2= t(".chats")

  .block_content_toolbar
    .block_toolbar_left.btn-group
      %a.btn.btn_main{:href => "#", 'data-dropdown' => "#dropdown"}
        = content_tag(:i, nil, class: 'icon-plus-3')
        %i.icon-arrow-down-3
      %div{:id=>"dropdown", class: "dropdown dropdown-tip"}
        %ul.dropdown-menu
          %li= link_to t(".new_chat"), '#', id: 'new_chat', :"data-link" => new_chat_room_path(allocation_tags_ids: [@allocation_tags_ids].flatten), :"data-box-title" => t(".new_chat")

    .block_toolbar_right
      .btn-group
        = link_to (content_tag(:i, nil, class: 'icon-edit')), "#", class: 'btn btn_edit edit_chat', "data-link-to-edit" => edit_chat_room_path(':id', allocation_tags_ids: [@allocation_tags_ids].flatten), :"data-edit-title" => t(".edit_chat"), disabled: true, :"data-tooltip" => t(".edit_chat")
        = link_to (content_tag(:i, nil, class: 'icon-trash')), "#", class: 'btn btn_del delete_chat', :"data-link-delete" => chat_room_path(':id', allocation_tags_ids: [@allocation_tags_ids].flatten), disabled: true, :"data-tooltip" => t(".delete_chats")

  .block_wrapper.chat_rooms
    - unless @chat_rooms.empty? or @chat_rooms.nil?
      - all_groups = Group.where(id: params[:all_groups_ids])
      %table.tb_list
        %thead
          %tr.lines
            %th{style: 'text-align:center; width: 8%;'}= check_box_tag :all_chats, false, false, :"data-children-names" => "c_"
            %th{style: 'text-align:left;'}= t(".chat_name")
            %th{style: 'text-align:center; width: 21%;'}= t(".availability")

        %tbody
          - @chat_rooms.each do |chat|
            %tr.lines{id: "tr_#{chat.id}"}
              %td{style: 'text-align:center;'}
                = check_box_tag("c_#{chat.id}", chat.id, false, {class: "ckb_chat"})
              %td
                %div
                  .title
                    = chat.title
                  .description
                    .minimun
                      = raw(truncate chat.description, length: 200, omission: "#{content_tag(:i, nil, class: 'expand icon-ellipsis', :"data-tooltip" => t(".expand_description"))}")
                    .complete.invisible
                      = chat.description
                      = content_tag(:i, nil, class: "compress icon-arrow-up-2", :"data-tooltip" => t(".compress_description"))
                  = render "groups/groups_tags", groups: chat.groups, tool_id: chat.id, all_groups: all_groups

              %td{style: 'text-align:center;'}
                %div= [l(chat.schedule.start_date, format: :normal), l(chat.schedule.end_date, format: :normal)].join(" - ")
                %div= t(".hour_period", start_hour: chat.start_hour, end_hour: chat.end_hour)

    - else
      .block_content.block_content_text= t(".no_chats")

= javascript_include_tag "chat_rooms", "tooltip", "groups_tags"

:javascript

  var div_list = $(".list_chat_rooms");
  var all_allocation_tags_ids = "#{AllocationTag.where(group_id: params[:all_groups_ids]).map(&:id).join(",")}";
