- tool_name = case @type.id
  - when 3
  - "course"
  - when 4
  - "module"
  - else
  - "curriculum_unit"
- t_tool_name = t(".#{tool_name}")

.block_wrapper
  .block_title
    %h2=t_tool_name
  .block_content_toolbar
    .block_toolbar_left.btn-group
      %a.btn.btn_main{:'data-tooltip' => t(".new_#{tool_name}"), id: "btn_new_curriculum_unit", :type => :button, :"data-link-new" => new_curriculum_unit_path(type_id: @type.id)}
        = content_tag(:i, nil, class: 'icon-plus-3')
    .block_toolbar_right
      = link_to (content_tag(:i, nil, class: 'icon-trash')), "#", class: 'btn delete_curriculum_unit btn_del', :'data-tooltip' => t(".delete", uc_or_module: t_tool_name), :"data-link-delete" => curriculum_unit_path(id: ':id')

  %table.tb_list{:cellpadding => "10", :cellspacing => "0", :width => "100%", :style => "table-layout: fixed"}
    %thead
      %tr.lines
        %th{:width => "12%"}
          %input#all_curriculum_unit{type: "checkbox", :"data-children-names" => "ckb_curriculum_unit"}
          = CurriculumUnit.human_attribute_name(:code)
        %th{:width => "38%"}= CurriculumUnit.human_attribute_name(:name)
        %th{:width => "28%"}= CurriculumUnit.human_attribute_name(:category)
        %th{:width => "12%"}
    %tbody
      - @curriculum_units.each do |curriculum_unit|
        %tr.lines
          %td
            = check_box_tag 'ckb_curriculum_unit', curriculum_unit.id, checked = false, {class: 'selected_curriculum_unit', :"data-curriculum_unit-id" => curriculum_unit.id}
            = curriculum_unit.code
          %td= curriculum_unit.name
          %td{:align => "left"}= curriculum_unit.curriculum_unit_type.description
          %td{:align => "right"}
            = link_to (content_tag(:i, nil, class: 'icon-edit')), "#", class: 'btn edit', :'data-tooltip' => t(".edit", uc_or_module: t_tool_name), :"data-link-edit" => edit_curriculum_unit_path(curriculum_unit), disabled: not(can? :update, curriculum_unit)

:javascript

  function result_error(data) {
    var response = JSON.parse(data.responseText);
    if (typeof(response.alert) != "undefined")
      flash_message(response.alert, 'alert');
  }

  $(function(){
    $('.delete_curriculum_unit').attr("disabled", true);

    $("#btn_new_curriculum_unit").click(function(){
      showLightBoxURL($(this).data('link-new'), 540, 605, true, $(this).data('tooltip'));
    });

    $('.edit:not([disabled])').click(function(){
      showLightBoxURL($(this).data('link-edit'), 540, 605, true, $(this).data('tooltip'));
    });

    $('.delete_curriculum_unit').click(function(){
      if ($(this).attr('disabled') == 'disabled' || !confirm("#{t(:message_confirm)}"))
        return false;

      // tentar melhorar o nice_delete para incluir a delecao de muitas linhas

      var ucs = $("#ckb_curriculum_unit:checked");
      var uc_ids = $.map(ucs, function(n){ return ($(n).val()); });

      if (uc_ids.length) {
        $.delete($(this).data('link-delete').replace(':id', uc_ids), function(data){
          flash_message(data.notice, 'notice');
          ucs.parents('tr').fadeOut().remove();
        }).error(function(data){
          var data = $.parseJSON(data.responseText);
          if (typeof(data.alert) != "undefined")
            flash_message(data.alert, 'alert');
        });
      }

      return false;
    });

    $(".block_toolbar_right span.btn")
      .on('click',function(){
        var check = $(':checkbox', this);
        check.prop('checked', !check[0].checked);
      });

    $('#all_curriculum_unit').nice_checkbox({
      can_enable_elements: true
    });

    
  });
