= stylesheet_link_tag "jquery-ui-autocomplete", "autocomplete"
= javascript_include_tag "edition", "autocomplete"

.edition.block_content
  %p= t(:required_fields)
  %fieldset#allocation_tag_selection
    %legend= t(".filter")
    .filter
      .curriculum_unit_type
        = label_tag :curriculum_unit_type, t(".type")
        = select_tag :curriculum_unit_type, options_from_collection_for_select(@types, "id", "description"), include_blank: true

      .course
        = label_tag :course, t(".course")
        = select_tag :course, nil

      .curriculum_unit
        = label_tag :curriculum_unit, t(".curriculum_unit")
        = select_tag :curriculum_unit, nil, :'data-optional' => true

      .semester
        = label_tag :semester, t(".semester")
        = select_tag :semester, nil, :'data-optional' => true

      .offer_groups_options
        .radio_options
          = radio_button :radio, :option, "offer", disabled: true
          = label_tag :radio_option_offer, t(".offer")

          = radio_button :radio, :option, "group", disabled: true
          = label_tag :radio_option_group, t(".group")

        .groups

      = link_to t(:search), "#", {class: "btn btn_main", :"data-url-search" => items_editions_path, id: "search", :"data-load-to" => "items_list"}

.items_list

.back.invisible
  = render "editions/back_items"
