$(function() {
  
  $('#cbx_all').click(function () {
    var checked = $(this).is(':checked');            
    $('.cbx_value').each(function () {
      $(this).prop('checked', checked);                
    });
  });


  $('.btn_enroll_selected').click(function() {
    var ch = $('.cbx_value:checked');

    if (ch.length == 0) { // nenhum selecionado
      alert('<%= I18n.t(:error_no_item_selected) %>');
      return;
    } else { // verificar se todos os selecionados possuem o mesmo status
      for (var i = 1; i < ch.length; i++) {
        if ( $(ch[i]).attr('status-value') != $(ch[i-1]).attr('status-value')) {
          alert('<%= I18n.t(:not_same_status, :scope => [:allocations, :manage]) %>');
          return;
        }
      }
    }

    var sel = new Array();
    if (ch.length > 0) {
      for (var i = 0; i < ch.length; i++) {
        sel.push(ch[i].value);
      }
    }

    var url = "<%= Rails.application.routes.url_helpers.allocation_path('something') %>".replace('something', sel.join(','));

    $.ajax({
      type: 'PUT',
      url: url + '.json',
      data: {
        "multiple": "yes",
        "enroll": "all",
      },
      success: function(data) {
        if (data.status = 'ok') {
          $(window).attr("location", '<%= Rails.application.routes.url_helpers.enrollments_allocations_path %>');
        } else {
          alert('<%= I18n.t(:allocation_manage_enrollment_unsuccessful_update) %>');
        }
      }
    });
  });
});

function manage_cancel(obj) {
  $(obj).closest('tr').removeClass('active');
  $.get($(obj).attr('show-link'), function(data) { $(obj).closest('tr').html(data); });
}

function manage_enrollment(obj) {
  $(obj).closest('tr').addClass('active');
  $.get($(obj).attr('edit-link'), function(data) { $(obj).closest('tr').html(data); });
}

function save_allocation(obj) {
  $.ajax({
    type: 'PUT',
    url: $(obj).attr('save-link'),
    data: {
      "id": $(obj).attr('allocation-id'),
      "allocation": {
        "status": $('#status_id option:selected', $(obj).closest('tr')).val(),
        "group_id": $('#code_id option:selected', $(obj).closest('tr')).val()
      }
    },
    success: function(data, textStatus, jqXHR) {
      if (jqXHR.getResponseHeader('Content-Type').split(';')[0] != 'text/javascript') {
        $(obj).closest('tr').removeClass('active');
        $(obj).closest('tr').html(data);
      }
    }
  });
}

