// = require jquery.mask.min

jQuery(function($){

  /* Formulário */

  $("#chat_room_start_hour").mask("99:99");  
  $("#chat_room_end_hour").mask("99:99");  

  $("#all_participants").nice_checkbox();

  $("#chat_room_type").click(function(){
    if($("#chat_room_type").prop("checked")){
      $("#define_participants").attr("id", "tab");
      $(".box").show();
    }else{
      $("#tab").attr("id", "define_participants");
      $(".box").hide();
      $("#all_participants").prop("checked", false);
      $("[name*='chat_room[participants_attributes]']").each(function(i){ $(this).prop("checked", false); });

    }

  });

  var options = $.extend({}, $.datepicker.regional['#{I18n.locale}']); 
  
  /* impede que o usuário selecione uma data final menor que inicial e uma inicial maior que a final */
  $('#chat_start_date').datepicker( $.extend({}, options, { onSelect: function(selected) { $('#chat_end_date').datepicker("option", "minDate", selected); } }) );
  $('#chat_end_date').datepicker( $.extend({}, options, { onSelect: function(selected) { $('#chat_start_date').datepicker("option", "maxDate", selected); } }) );

  $('#save').click(function(){
    $('#chat_form:last').serialize_and_submit({
      replace_list: $(".list_chat_rooms")
    });
  });

  /* se a data ficar vazia, recebe a data que veio ao carregar o formulário ou uma data permitida de acordo com a relação data final - data inicial */
  $('#chat_end_date').blur(function(){
    if ($(this).datepicker("getDate") == null)
      $(this).datepicker("setDate", new Date(end_date));
  });

  $('#chat_start_date').blur(function(){
    if($(this).datepicker("getDate") == null)
      $(this).datepicker("setDate", new Date(start_date));
  });


  /* Listagem */

  $(".expand, .compress").click(function(){
    $(this).parent().hide();
    $($(this).parent().siblings()[0]).show();
  });

  $('#new_chat').click(function() {
    showLightBoxURL($(this).data('link'), 550, 400, true, $(this).data('box-title'));
  });

  $("#all_chats").nice_checkbox({
    can_enable_elements: true
  });

  $('.edit_chat').click(function() {
    if ($(this).attr('disabled') == 'disabled') {
      return false;
    }

    var chats_ids = $('.ckb_chat:checked', $(this).parents("div.list_chat_rooms")).map(function() { return this.value; }).get();
    if (!(!chats_ids.length || chats_ids.length > 1)) {
      var url_edit = $(this).data('link-to-edit').replace(':id', chats_ids);
      showLightBoxURL(url_edit, 550, 400, true, $(this).data('edit-title'));
    }
    return false;
  });

  $('.delete_chat').click(function() {
    if ($(this).attr('disabled') == 'disabled' || !confirm("<%=I18n.t(:message_confirm)%>"))
      return false;

    var chats = $('.ckb_chat:checked', $(this).parents("div.list_chat_rooms"));
    var chats_ids = chats.map(function() { return this.value; }).get();
    if (chats_ids.length) {
      $.delete($(this).data('link-delete').replace(':id', chats_ids), function(data){
        flash_message(data.notice, 'notice');
        chats.parents('tr').fadeOut().remove();
      }).error(function(data){
        var data = $.parseJSON(data.responseText);
        if (typeof(data.alert) != "undefined")
          flash_message(data.alert, 'alert');
      });
    }

    return false;
  });


});
