/* configuração da barra de ferramentas do ckeditor */
CKEDITOR.editorConfig = function (config) {
  config.toolbar =
    [
      { name: 'clipboard', items : [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
      { name: 'styles', items : [ 'Styles', 'Format' ] },
      { name: 'basicstyles', items : [ 'Bold', 'Italic', 'Strike', '-', 'RemoveFormat' ] },
      { name: 'paragraph', items : [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent' ] },
      { name: 'links', items : [ 'Link', 'Unlink' ] }
    ];
};

function showUploadForm(url) {
  showLightBoxURL(url, 400, 250, true, '<%= I18n.t(:attach_file_title, :scope => [:posts, :index]) %>');
  return false;
}

function form_post_reset_parameters() {
  var action = $('form#new_post_form').attr('action-default');
  $('form#new_post_form').attr('action', action);
  $('form#new_post_form #discussion_post_parent_id').val(null);
  $('form#new_post_form input[name=_method]').val('put');
}

function destroy_editor() {
  if (CKEDITOR.instances['discussion_post_content']) {
    CKEDITOR.instances['discussion_post_content'].destroy();
    $("#discussion_post_content").val(null);
  }
}

function append_rich_text(container) {
  destroy_editor();
  CKEDITOR.replace('discussion_post_content');

  $("#new_post").detach().appendTo(container);
  $('#new_post').show(300);
}

function cancel_posting() {
  $('#new_post').hide(300);
  $('#new_post').parent().hide(300, function() {
    destroy_editor();
  });
}

function new_post(obj, parent) {
  form_post_reset_parameters();

  $('form#new_post_form input[name=_method]').val('post');
  if (parent > 0) { $('form#new_post_form #discussion_post_parent_id').val(parent); } // resposta

  if ( $(obj).parent().attr('id') == 'forum_new_message' ) {
    postNew = $(obj).closest('.forum_navigation').children(".forum_post_new");
    $(postNew).show();
    append_rich_text(postNew); // seletor para novo post
  } else {
    postReply = $(obj).closest('.forum_post_wrapper').children(".forum_post_reply");
    $(postReply).show();
    append_rich_text(postReply); // seletor para reply
  }
  return false;
};

function update_post(obj, post, parent) {
  form_post_reset_parameters();

  if (parent > 0) { $('form#new_post_form #discussion_post_parent_id').val(parent); } // post com parent
  var action = $('form#new_post_form').attr('action-to-edit').replace(':id', post);
  $('form#new_post_form').attr('action', action);

  postEdit = $(obj).closest('.forum_post_wrapper').children(".forum_post_reply");
  $(postEdit).show();
  append_rich_text(postEdit);
  CKEDITOR.instances['discussion_post_content'].setData($(obj).closest('.forum_post_wrapper').children('.forum_post_inner_content').html());
  return false;
}

function delete_post(post_id, url) {
  if (!confirm("<%= I18n.t(:message_confirm) %>")) return;

  $.ajax({
    type: "DELETE",
    url: url,
    success: function(data) {
      $('#' + post_id).fadeOut(100, function() {
        $(this).remove();
      });
    },
    error: function(obj, status) {
      // tratamento de erro ainda nao feito
    }
  });
}
