// FORMULARIOS (registro, edição de perfil, etc)

/**
* Geral
*/
.form-inputs > .input > textarea {
  height: 120px;
}

.form_label {
  color: $label_color;
  label {
    text-align: right;
  }
}

.form_label:first-child {
  width: $form_label_width - 1px;
}

.form_label label, .form-inputs .control-label {
  padding-right: 5px;
  padding-top: 5px;
  vertical-align: top;
}

.form_field input[type="text"] {
  width: 413px;
}

.form_field input, .form_field select, .form-inputs .input input, .form-inputs > .input > select {
  padding: 2px;
  margin-bottom: 4px;
  font-size: 10pt;
}

.form-inputs.block_content {
  padding-top: 5px;
}

.form-inputs .form_label:first-child {
  width: 127px;
}

.form-inputs div.input {
  margin-bottom: 5px;
}

.form-inputs .input input, .form-inputs > .input > textarea {
  max-width: 340px;
  min-width: 50px;
}

.form-inputs > .input > select {
  width: 346px;
}

.form_inner_label {
  padding: 0 10px 0 0;
  width: auto;
}

.form_field div.field_with_errors {
  display: inline-block;
}

.required + .error, .optional + .error {
  display: block;
  margin-left: 125px;
  margin-bottom: 5px;
}

.form_field + .form_error {
  display: block;
  margin-left: $form_label_width - 20px;
}

.form_error, .error, span.field_with_errors {
  padding-left: 10px;
  vertical-align: top;
  color: #E03838;
}

.field_with_errors input, .field_with_errors textarea {
  border: 1px solid;
  border-color: red;
}

#special_needs_line {
  display: none;
}

.form_requirement, .filter_counter { // FIXME: filter_counter é usado apenas em allocations
  font-style: italic;
  font-size: 9pt;
  margin-right: 2px;
  margin-top: 2px;
  color: #E03838;
}

.form_requirement {
  display: block;
  float: right;
  margin-top: 10px;
  margin-right: 18px;
}

.label_usuario {
  white-space: pre-wrap;
}

#address_number,
#address_neighborhood,
#country,
#telephone,
#address_complement,
#zipcode,
#cell_phone{
  width: 128px;
}

#user_state {
  width: 134px;
}

.label_color {
  color: $label_color;
}

select[disabled] {
  color: red;
  border: 1px solid #D0D0D0;
  background-color: #F2F2F2;
}

.radio_options label{ // TODO: usado apenas em editions
  width: auto;
  margin: 5px;
}

/**
* Posicionando botões do form
*/
.block_content.form-actions {
  padding-left: 143px;
  padding-bottom: 5px;

  .button-align {
    text-align: right;
    padding-right: 46px;
  }
}

/**
* Registration
*/
.user_data_form_buttons {
  text-align: center;
  font-size: 9pt;
}

.form_user_content textarea {
  width: 413px; /*425px;*/
}

.form_user_content textarea, .form-inputs > .input > textarea {
  margin-bottom: 0px;
  padding: 2px;
}

.form_label_multiline {
  vertical-align: top;
}

.label_gender {
  text-align: right;
}

/**
* Perfil
*/
.form_user_table {
  margin-top: 5px;
}

.form_user_table td {
  padding: 2px 0;
}

/**
* TODO: código aparentemente inutilizado, verificar
*
#curriculum_unit_code, #curriculum_unit_passing_grade {
  width: 65px;
}

.group_code.field_with_errors .error {
  display: block;
  margin-left: $form_label_width - 10px;
}

.form_usuario_label {
  text-align: right;
  width: 15px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 2px;
  font-size: 14px;
  white-space: pre-wrap;
  vertical-align: middle;
}

.login_form_link_return {
  position: relative;
  top: 10px;
  text-align: center;
  line-height: 25px;
  background-color: #fff;
  color: #222;
}

.login_form_link_return:hover {
  text-decoration: none;
  color: #222;
}

.form_usuario_table {
  line-height: 15px;
  margin-bottom: 25px;
  color: #fff;
}

.form_usuario_tr {
  height: 30px;
}

#user_gender {
  width: 45px;
}


*/