.nodecoration {
	text-decoration: none !important;
}

.empty {
	opacity: 0.3;
	filter: alpha(opacity=30);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

[class^="icon-"],
[class*=" icon-"] {
    width: 18px;
    height: 18px;
    color: #828282;
}

[class^="icon-"].warning,
[class*=" icon-"].warning {
	color: red;
}

.icon-warning, .icon-checkmark, .icon-info, .icon-help, .icon-question, .icon-info-2, .icon-mail, .icon-paperplane, .icon-edit, .icon-paperclip, .icon-reply, .icon-reply-all, .icon-forward, .icon-user, .icon-user-add, .icon-vcard, .icon-export, .icon-location, .icon-share, .icon-heart, .icon-heart-2, .icon-star, .icon-star-2, .icon-thumbs-up, .icon-thumbs-down, .icon-chat, .icon-comment, .icon-quote, .icon-house, .icon-popup, .icon-search, .icon-printer, .icon-bell, .icon-link, .icon-flag, .icon-settings, .icon-tools, .icon-tag, .icon-camera, .icon-music, .icon-music-2, .icon-book, .icon-lesson, .icon-lifebuoy, .icon-eye, .icon-clock, .icon-microphone, .icon-calendar, .icon-briefcase, .icon-hourglass, .icon-language, .icon-key, .icon-suitcase, .icon-earth, .icon-keyboard, .icon-browser, .icon-publish, .icon-adjust, .icon-sun, .icon-code, .icon-screen, .icon-credit-card, .icon-database, .icon-rss, .icon-signal, .icon-lock, .icon-lock-open, .icon-logout, .icon-login, .icon-cross, .icon-plus, .icon-minus, .icon-cross-2, .icon-minus-2, .icon-plus-2, .icon-cross-3, .icon-minus-3, .icon-plus-3, .icon-erase, .icon-blocked, .icon-cycle, .icon-shuffle, .icon-cw, .icon-arrow, .icon-arrow-2, .icon-retweet, .icon-loop, .icon-history, .icon-back, .icon-switch, .icon-list, .icon-add-to-list, .icon-layout, .icon-list-2, .icon-text, .icon-text-2, .icon-document, .icon-docs, .icon-landscape, .icon-folder, .icon-pictures, .icon-archive, .icon-trash, .icon-outbox, .icon-inbox, .icon-disk, .icon-install, .icon-cloud, .icon-upload, .icon-bookmark, .icon-book-2, .icon-bookmarks, .icon-pause, .icon-record, .icon-stop, .icon-next, .icon-previous, .icon-first, .icon-last, .icon-resize-enlarge, .icon-resize-shrink, .icon-sound, .icon-mute, .icon-flow-cascade, .icon-flow-branch, .icon-flow-tree, .icon-flow-line, .icon-flow-parallel, .icon-arrow-left, .icon-arrow-down, .icon-arrow-up--upload, .icon-arrow-right, .icon-arrow-left-2, .icon-arrow-down-2, .icon-arrow-up, .icon-arrow-right-2, .icon-arrow-left-3, .icon-arrow-down-3, .icon-arrow-up-2, .icon-arrow-right-3, .icon-arrow-left-4, .icon-arrow-down-4, .icon-arrow-up-3, .icon-arrow-right-4, .icon-arrow-left-5, .icon-arrow-down-5, .icon-arrow-up-4, .icon-untitled, .icon-arrow-right-5, .icon-arrow-up-5, .icon-arrow-down-6, .icon-arrow-left-6, .icon-twitter, .icon-twitter-2, .icon-facebook, .icon-facebook-2, .icon-facebook-3, .icon-phone, .icon-move, .icon-clipboard, .icon-box, .icon-new, .icon-calendar-week, .icon-calendar-list, .icon-calendar-day, .icon-write, .icon-unzip-file, .icon-map, .icon-checkmark-2, .icon-checkmark-outline, .icon-mail-read, .icon-class, .icon-exam, .icon-homework, .icon-play, .icon-people, .icon-rotate, .icon-restore, .icon-video-conference, .icon-checkbox-checked, .icon-checkbox-unchecked, .icon-ellipsis {
	font-family: 'Solar';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	vertical-align: middle;
}
.big {
	font-size: 32px;
	line-height: 34px;
}
.icon-warning:before {
	content: "\e000";
}
.icon-checkmark:before {
	content: "\e001";
}
.icon-info:before {
	content: "\e002";
}
.icon-help:before {
	content: "\e003";
}
.icon-question:before {
	content: "\e004";
}
.icon-info-2:before {
	content: "\e005";
}
.icon-mail:before {
	content: "\e006";
}
.icon-paperplane:before {
	content: "\e007";
}
.icon-edit:before {
	content: "\e008";
}
.icon-paperclip:before {
	content: "\e009";
}
.icon-reply:before {
	content: "\e00a";
}
.icon-reply-all:before {
	content: "\e00b";
}
.icon-forward:before {
	content: "\e00c";
}
.icon-user:before {
	content: "\e00d";
}
.icon-user-add:before {
	content: "\e00f";
}
.icon-vcard:before {
	content: "\e010";
}
.icon-export:before {
	content: "\e011";
}
.icon-location:before {
	content: "\e013";
}
.icon-share:before {
	content: "\e014";
}
.icon-heart:before {
	content: "\e015";
}
.icon-heart-2:before {
	content: "\e016";
}
.icon-star:before {
	content: "\e017";
}
.icon-star-2:before {
	content: "\e018";
}
.icon-thumbs-up:before {
	content: "\e019";
}
.icon-thumbs-down:before {
	content: "\e01a";
}
.icon-chat:before {
	content: "\e01b";
}
.icon-comment:before {
	content: "\e01c";
}
.icon-quote:before {
	content: "\e01d";
}
.icon-house:before {
	content: "\e01e";
}
.icon-popup:before {
	content: "\e01f";
}
.icon-search:before {
	content: "\e020";
}
.icon-printer:before {
	content: "\e021";
}
.icon-bell:before {
	content: "\e022";
}
.icon-link:before {
	content: "\e023";
}
.icon-flag:before {
	content: "\e024";
}
.icon-settings:before {
	content: "\e025";
}
.icon-tools:before {
	content: "\e026";
}
.icon-tag:before {
	content: "\e027";
}
.icon-camera:before {
	content: "\e028";
}
.icon-music:before {
	content: "\e029";
}
.icon-music-2:before {
	content: "\e02a";
}
.icon-book:before {
	content: "\e02c";
}
.icon-lesson:before {
	content: "\e02d";
}
.icon-lifebuoy:before {
	content: "\e02e";
}
.icon-eye:before {
	content: "\e02f";
}
.icon-clock:before {
	content: "\e030";
}
.icon-microphone:before {
	content: "\e031";
}
.icon-calendar:before {
	content: "\e032";
}
.icon-briefcase:before {
	content: "\e033";
}
.icon-hourglass:before {
	content: "\e035";
}
.icon-language:before {
	content: "\e036";
}
.icon-key:before {
	content: "\e038";
}
.icon-suitcase:before {
	content: "\e039";
}
.icon-earth:before {
	content: "\e03a";
}
.icon-keyboard:before {
	content: "\e03b";
}
.icon-browser:before {
	content: "\e03c";
}
.icon-publish:before {
	content: "\e03d";
}
.icon-adjust:before {
	content: "\e03e";
}
.icon-sun:before {
	content: "\e03f";
}
.icon-code:before {
	content: "\e040";
}
.icon-screen:before {
	content: "\e041";
}
.icon-credit-card:before {
	content: "\e043";
}
.icon-database:before {
	content: "\e044";
}
.icon-rss:before {
	content: "\e045";
}
.icon-signal:before {
	content: "\e046";
}
.icon-lock:before {
	content: "\e04b";
}
.icon-lock-open:before {
	content: "\e04c";
}
.icon-logout:before {
	content: "\e04d";
}
.icon-login:before {
	content: "\e04e";
}
.icon-cross:before {
	content: "\e04f";
}
.icon-plus:before {
	content: "\e050";
}
.icon-minus:before {
	content: "\e051";
}
.icon-cross-2:before {
	content: "\e052";
}
.icon-minus-2:before {
	content: "\e053";
}
.icon-plus-2:before {
	content: "\e054";
}
.icon-cross-3:before {
	content: "\e055";
}
.icon-minus-3:before {
	content: "\e056";
}
.icon-plus-3:before {
	content: "\e057";
}
.icon-erase:before {
	content: "\e058";
}
.icon-blocked:before {
	content: "\e059";
}
.icon-cycle:before {
	content: "\e05a";
}
.icon-shuffle:before {
	content: "\e05b";
}
.icon-cw:before {
	content: "\e05d";
}
.icon-arrow:before {
	content: "\e05e";
}
.icon-arrow-2:before {
	content: "\e05f";
}
.icon-retweet:before {
	content: "\e060";
}
.icon-loop:before {
	content: "\e061";
}
.icon-history:before {
	content: "\e062";
}
.icon-back:before {
	content: "\e063";
}
.icon-switch:before {
	content: "\e064";
}
.icon-list:before {
	content: "\e065";
}
.icon-add-to-list:before {
	content: "\e066";
}
.icon-layout:before {
	content: "\e067";
}
.icon-list-2:before {
	content: "\e068";
}
.icon-text:before {
	content: "\e069";
}
.icon-text-2:before {
	content: "\e06a";
}
.icon-document:before {
	content: "\e06b";
}
.icon-docs:before {
	content: "\e06c";
}
.icon-landscape:before {
	content: "\e06d";
}
.icon-folder:before {
	content: "\e06e";
}
.icon-pictures:before {
	content: "\e06f";
}
.icon-archive:before {
	content: "\e070";
}
.icon-trash:before {
	content: "\e071";
}
.icon-outbox:before {
	content: "\e072";
}
.icon-inbox:before {
	content: "\e073";
}
.icon-disk:before {
	content: "\e074";
}
.icon-install:before {
	content: "\e075";
}
.icon-cloud:before {
	content: "\e076";
}
.icon-upload:before {
	content: "\e077";
}
.icon-bookmark:before {
	content: "\e078";
}
.icon-book-2:before {
	content: "\e079";
}
.icon-bookmarks:before {
	content: "\e07a";
}
.icon-pause:before {
	content: "\e07c";
}
.icon-record:before {
	content: "\e07d";
}
.icon-stop:before {
	content: "\e07e";
}
.icon-next:before {
	content: "\e07f";
}
.icon-previous:before {
	content: "\e080";
}
.icon-first:before {
	content: "\e081";
}
.icon-last:before {
	content: "\e082";
}
.icon-resize-enlarge:before {
	content: "\e083";
}
.icon-resize-shrink:before {
	content: "\e084";
}
.icon-sound:before {
	content: "\e085";
}
.icon-mute:before {
	content: "\e086";
}
.icon-flow-cascade:before {
	content: "\e087";
}
.icon-flow-branch:before {
	content: "\e088";
}
.icon-flow-tree:before {
	content: "\e089";
}
.icon-flow-line:before {
	content: "\e08a";
}
.icon-flow-parallel:before {
	content: "\e08b";
}
.icon-arrow-left:before {
	content: "\e08c";
}
.icon-arrow-down:before {
	content: "\e08d";
}
.icon-arrow-up--upload:before {
	content: "\e08e";
}
.icon-arrow-right:before {
	content: "\e08f";
}
.icon-arrow-left-2:before {
	content: "\e090";
}
.icon-arrow-down-2:before {
	content: "\e091";
}
.icon-arrow-up:before {
	content: "\e092";
}
.icon-arrow-right-2:before {
	content: "\e093";
}
.icon-arrow-left-3:before {
	content: "\e094";
}
.icon-arrow-down-3:before {
	content: "\e095";
}
.icon-arrow-up-2:before {
	content: "\e096";
}
.icon-arrow-right-3:before {
	content: "\e097";
}
.icon-arrow-left-4:before {
	content: "\e098";
}
.icon-arrow-down-4:before {
	content: "\e099";
}
.icon-arrow-up-3:before {
	content: "\e09a";
}
.icon-arrow-right-4:before {
	content: "\e09b";
}
.icon-arrow-left-5:before {
	content: "\e09c";
}
.icon-arrow-down-5:before {
	content: "\e09d";
}
.icon-arrow-up-4:before {
	content: "\e09e";
}
.icon-untitled:before {
	content: "\e09f";
}
.icon-arrow-right-5:before {
	content: "\e0a0";
}
.icon-arrow-up-5:before {
	content: "\e0a1";
}
.icon-arrow-down-6:before {
	content: "\e0a2";
}
.icon-arrow-left-6:before {
	content: "\e0a3";
}
.icon-twitter:before {
	content: "\e0ab";
}
.icon-twitter-2:before {
	content: "\e0ac";
}
.icon-facebook:before {
	content: "\e0ad";
}
.icon-facebook-2:before {
	content: "\e0ae";
}
.icon-facebook-3:before {
	content: "\e0b0";
}
.icon-phone:before {
	content: "\e0b8";
}
.icon-move:before {
	content: "\e0ba";
}
.icon-clipboard:before {
	content: "\e0bb";
}
.icon-box:before {
	content: "\e0bc";
}
.icon-new:before {
	content: "\e0bd";
}
.icon-calendar-week:before {
	content: "\e0be";
}
.icon-calendar-list:before {
	content: "\e0c1";
}
.icon-calendar-day:before {
	content: "\e0c2";
}
.icon-write:before {
	content: "\e0a9";
}
.icon-unzip-file:before {
	content: "\e0bf";
}
.icon-map:before {
	content: "\e012";
}
.icon-checkmark-2:before {
	content: "\e0aa";
}
.icon-checkmark-outline:before {
	content: "\e0b6";
}
.icon-mail-read:before {
	content: "\e02b";
}
.icon-class:before {
	content: "\e034";
}
.icon-exam:before {
	content: "\e037";
}
.icon-homework:before {
	content: "\e042";
}
.icon-play:before {
	content: "\e047";
}
.icon-people:before {
	content: "\e00e";
}
.icon-rotate:before {
	content: "\e05c";
}
.icon-restore:before {
	content: "\e048";
}
.icon-video-conference:before {
	content: "\e049";
}
.icon-checkbox-checked:before {
	content: "\e04a";
}
.icon-checkbox-unchecked:before {
	content: "\e07b";
}
.icon-ellipsis:before {
    content: "\e0a4";
}