<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Solar</title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "themes/theme_blue" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_tag '$.fx.off = true;' if Rails.env.test? %>   

    
    
    <!--[if lte IE 9]>
      <%= stylesheet_link_tag "fonts/fonts-ie" %>
    <![endif]-->
    <!--[if lte IE 7]>
      <%= javascript_include_tag 'lte-ie7' %>
      <%= stylesheet_link_tag "misc/ie7" %>
    <![endif]-->
    <%= csrf_meta_tag %>

    <script type="text/javascript">
      /**
       * Google Analytics
       */
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25482431-1']);
      _gaq.push(['_setDomainName', '.virtual.ufc.br']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      // sistema e clock

      global_config = {
        'locale': {
          'I18n': '<%= I18n.locale %>',
          'dateFormat': '<%=t :search_format_date %>'
        }
      };

      jQuery(function($) {
        // altura da linha divisória entre o menu e o conteúdo
        // 10px do margin-top de mysolar_sidebar, 10 do margin-top do block_locale e 5 de espaco mesmo... :)
        // $("#mysolar_sidebar").height($('#body_wrapper').height() - $('#mysolar_topbar').height() - $('#block_locale').height() - 25);

        /**
         * Relogio do sistema
         */
        new showLocalTime("server_clock");

        function showLocalTime(container) {
          if (!$('#'+container).length) return;
          updateTime(container, "<%=l DateTime.now, :format => :clock %>");
        }

        function updateTime(el, server_time) {
          var localtime = new Date(server_time);
          localtime.setSeconds(localtime.getSeconds()+1);

          $("#"+el).html(formatNumber(localtime.getHours()) + ":" + formatNumber(localtime.getMinutes()) + ":" + formatNumber(localtime.getSeconds()));
          setTimeout(function(){updateTime(el, localtime);}, 1000);
        }

        function formatNumber(num) { return (num < 10) ? "0" + num : num; }

        /**
         * Intro
         */
        $("#mysolar_top_help").click(function(){
          introJs().setOptions({
            showStepNumbers: false,
            nextLabel: '<%= t(:tutorial_next) %>',
            prevLabel: '<%= t(:tutorial_previous) %>',
            skipLabel: '<%= t(:tutorial_skip) %>',
            doneLabel: '<%= t(:tutorial_done) %>',
            steps: [
              {
                element: '#mysolar_logo',
                intro: 'Bem-vindo ao Solar 2.0.'
              },
              {
                element: '#mysolar_identity',
                intro: 'Barra superior: Nesta barra você visualiza informações sobre o seu usuário, hora do sistema, ajuda e sair do Solar'
              },
              {
                element: '#mysolar_top_submenu_label_regular',
                intro: 'Seu usuário atual. Clique para visualizar mais informações, editar seu perfil ou alterar sua foto'
              },
              {
                element: '#mysolar_tabs',
                intro: 'Abas onde você pode navegar entre o MeuSolar e os Cursos que tiver acessado na sessão'
              },
              {
                element: '#mysolar_languages',
                intro: 'Aqui você pode escolher o idioma'
              },
              {
                element: '#mysolar_suggestions',
                position: 'left',
                intro: 'Aqui você pode enviar suas críticas, sugestões e comentários para que possamos melhorar o Solar 2.0'
              },
              {
                element: '#mysolar_sidebar',
                intro: 'Menu de navegação'
              },
              {
                element: '#mysolar_content',
                intro: 'Área de conteúdo'
              },
              {
                element: '#mysolar_top_help',
                position: 'left',
                intro: 'Caso deseje ver este tutorial novamente, basta clicar em Ajuda.<br><br>Aproveite o novo <b>Solar 2.0!</b>'
              }
            ]
          }).start();
        });
      });

    </script>
  </head>
  <body>
    <div id="mysolar_topbar_wide_background"></div>
    <div id="body_wrapper">
      <!-- Barra Topo #########################-->
      <div id="mysolar_topbar">
        <div id="mysolar_identity">
          <div id="mysolar_logo">
            <%= image_tag 'solar_logo_small.png', :alt => t(:mysolar_alt_img_solar), :id => "solar_logo" %>
          </div>
          <ul id="mysolar_top_options">
            <li id="mysolar_top_submenu_label" class="mysolar_top_submenu_label_regular">
              <%= image_tag current_user.photo.url(:small), :alt => "#{t(:mysolar_alt_img_user)} #{current_user.nick}", :id => "image_user", :onclick => "mysolarTopSubmenuToggle();return false;"%>
              <% if can? :update, current_user %>
                <a id="mysolar_top_user_nick" href="" onclick="mysolarTopSubmenuToggle();return false;" class="mysolar_top_link"><%=current_user.nick%></a>
              <% end %>
            </li>
            <li id="server_clock_wrapper">
              <span name="server_clock" id="server_clock"></span>
            </li>
            <li id="mysolar_top_help">
              <a href="#" class="mysolar_top_link"><%= t(:help) %></a>
            </li>
            <li id="mysolar_top_logout">
              <%= link_to_if(current_user, t(:mysolar_alt_img_exit), logout_path, :class => "mysolar_top_link") %>
            </li>
          </ul>
        </div>
        <!-- Submenu Topo #########################-->
        <!-- Painel de Menu superior #########################-->
        <div id="mysolar_top_submenu">
          <div>
            <%= image_tag current_user.photo.url(:forum), :alt => "#{t(:mysolar_alt_img_user)} #{current_user.nick}", :id => "mysolar_top_img_user" %>
            <div id="mysolar_top_submenu_username"><%=current_user.name%></div>
            <div id="mysolar_top_submenu_useremail"><%=current_user.email%></div>
          </div>
          <ul>
            <li>
              <%= link_to t(:mysolar_edit_profile), edit_user_registration_path, id: 'my_data' %>
            </li>
            <li>
              <a id="mysolar_change_picture" href="#" onclick="showUserPictureUploadForm('<%= url_for :edit_photo_users %>', '<%= t(:mysolar_change_picture)%>'); return false;">
                <%= t(:mysolar_change_picture)%>
              </a>
            </li>
            <li>
              <%= link_to_if(current_user, t(:mysolar_alt_img_exit), logout_path) %>
            </li>
          </ul>
        </div>

        <!-- Abas #########################-->
        <div id="mysolar_tabs">
          <ul id="mysolar_tabs_wrapper">
            <%= raw render_tabs %>
          </ul>
          <ul id="mysolar_extras">
            <li id="mysolar_im">
              <button type="button" class="btn" data-tooltip="Bate-papo" data-dropdown="#im-dropdown" name="Bate-papo"><i class="icon-earth"></i><i class="icon-arrow-down-3"></i></button>
            </li>
            <li id="mysolar_languages">
              <button type="button" class="btn" data-tooltip="Idiomas" data-dropdown="#language-dropdown" name="Idiomas"><i class="icon-earth"></i><i class="icon-arrow-down-3"></i></button>
            </li>
            <li id="mysolar_suggestions"><button class="btn btn_main" onclick="javascript:window.open('https://docs.google.com/a/virtual.ufc.br/spreadsheet/viewform?formkey=dFpzVU4xa1FMT3ZldjhDS014NFMtaXc6MQ')">Sugestões para o Solar 2.0</button></li>
          </ul>
          <div id="im-dropdown" class="dropdown dropdown-tip">
           <ul class="dropdown-menu">
              <li><%= link_to_function "Disponível","open_im()"%></li>
              <li><%= link_to "Ocupado", "#" %></li>
              <li><%= link_to "Ausente", "#" %></li>
              <li><%= link_to_function "Offline", "connection.disconnect()"%></li>
              <li><%= link_to "Solicitação de Contato", "#" %></li>
              <li><%= link_to "Configurações", "#" %></li>
            </ul>
          </div> 
          <div id="language-dropdown" class="dropdown dropdown-tip">
            <ul class="dropdown-menu">
              <li><%= link_to "English (USA)", url_for(:locale => 'en-US') %></li>
              <li><%= link_to "Português (BR)", url_for(:locale => 'pt-BR') %></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Barra Lateral #########################-->
      <div id="mysolar_sidebar">
        <div id="mysolar_menu_accordion" style="z-index:10">
          <%=raw menu(@profiles, @context_id, @context_uc, user_session[:menu][:current]) if user_signed_in? %>
        </div>
      </div>

      <!-- CONTEUDO -->
      <div id="mysolar_content">

        <!-- titulo das paginas -->
        <div class="block_wrapper">

          <div class="flash_message_wrapper">
            <% flash.each do |name, msg| %>
              <div id="flash_message" class="<%= name %>">
                <%= content_tag :span, msg %>
              </div>
            <% end %>
          </div>

          <% active_tab = user_session[:tabs][:opened][user_session[:tabs][:active]] %>
          <div id="breadcrumb"><%= raw show_breadcrumb %></div>

          <% if is_curriculum_unit_selected?  %>          
            <div id="page_title">
              <h1><%=t active_tab[:breadcrumb].last[:name] unless active_tab[:breadcrumb].last.nil? %></h1>
              <span class="block_content_text"><%= raw(render_group_selection) %></span>
            </div>
          <% elsif not(in_mysolar?) %>
            <div id="page_title">
              <h1><%=t active_tab[:breadcrumb].last[:name] unless active_tab[:breadcrumb].last.nil? %></h1>
            </div>
          <% end %>
        </div>

        <%= yield %>

      </div>

      <div id="footer_push" style="height:35px"></div>
      <div id="footer">
        <ul>
          <li><%= link_to t(:login_footer1), 'http://www.virtual.ufc.br', :target => '_blank' %></li>
          <li><%= link_to t(:login_footer2), 'http://www.ufc.br', :target => '_blank' %></li>
          <li><%= t(:login_footer3) %></li>
          <li><%= link_to t(:license_terms), 'http://github.com/wwagner33/solar/blob/master/GPLv3', :target => '_blank' %></li>
        </ul>
      </div>
<%#= render '/portlets/chat' %>
    </div>

   

  </body>

</html>
