!!!
%html{style: "overflow-x: hidden; overflow-y: hidden; overflow: hidden"}
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Solar"
    = stylesheet_link_tag "misc/div_layout", :media => "all"
    = stylesheet_link_tag "fonts/fonts", :media => "all"
    = stylesheet_link_tag "converse/converse", :media => "all"
    = javascript_include_tag "jquery"
    = javascript_include_tag "lesson"
    = javascript_include_tag "converse/sha1" 
    = javascript_include_tag "converse/components/strophe/strophe" 
    = javascript_include_tag "converse/components/strophe.roster/index" 
    = javascript_include_tag "converse/components/strophe.muc/index" 
    = javascript_include_tag "converse/components/strophe.vcard/index" 
    = javascript_include_tag "converse/components/strophe.disco/index" 
    = javascript_include_tag "converse/components/underscore/underscore" 
    = javascript_include_tag "converse/components/backbone//backbone" 
    = javascript_include_tag "converse/components/backbone.localStorage/backbone.localStorage" 
    = javascript_include_tag "converse/components/tinysort/src/jquery.tinysort" 
    = javascript_include_tag "converse/components/jed/jed" 
    = javascript_include_tag "converse/locale/en/LC_MESSAGES/en" 
    = javascript_include_tag "converse/locale/pt_BR/LC_MESSAGES/pt_BR" 
    
    = javascript_include_tag "converse/converse" 

    = csrf_meta_tags
    = yield(:head)

    :javascript
      xmpp_id = "#{current_user.id}";
      xmpp_username = "#{current_user.username}";
      xmpp_cpf = "#{current_user.cpf}";
      xmpp_registered = "#{current_user.is_registered}";
      xmpp_ip = "#{@ip}";
      xmpp_dominio = "#{@dominio}";
      number_chatbox = 0;

  %body
    %iframe.frame_navigation#frame_content{src: url_for(:home), frameborder: 0}
    / Div a ser manipulada para apresentação de aulas
    #lesson_external_div
    #chatpanel
      #collective-xmpp-chat-data
        #toggle-controlbox
          %a.chat.toggle-online-users{href:"#"}
            %strong.conn-feedback
              Bate-Papo
              %strong#online-count{style:"display: none"}(0)

    :javascript

      converse.initialize({
        prebind: false,
        auto_list_rooms: false,
        auto_subscribe: false,
        bosh_service_url: 'http://'+xmpp_ip+':7070/http-bind/', 
        hide_muc_server: false,
        i18n: locales["pt_BR"], // Refer to ./locale/locales.js to see which locales are supported
        show_controlbox_by_default: true,
        xhr_user_search: false

      });
